@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import './color.css';
@import './customTailwind.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  min-width: 350px;
  background: var(--color-bg-light);
}

.dark body {
  background: var(--color-bg-dark);
}
