:root {
  /* Brand colors */
  --color-primary: #cde435;
  --color-primary-content: #141703;
  --color-primary-dark: #b4cb1b;
  --color-primary-light: #d8ea62;

  --color-secondary: #35e4a3;
  --color-secondary-content: #031710;
  --color-secondary-dark: #1bcb8a;
  --color-secondary-light: #62eab7;

  /* Neutral colors */
  --color-bg-dark: #1a1a1a;
  --color-content-dark: #fbfbfb;
  --color-border-dark: #404040;

  --color-bg-light: #f0f0f0;
  --color-content-light: #262626;
  --color-border-light: #8c8c8c;

  /* News Categories */
  --color-tech: #144fe0;
  --color-tech-lighter: #6990f1;
  --color-tech-content: #ffffff;
  --color-cybersec: #79e014;
  --color-cybersec-lighter: #adf169;
  --color-cybersec-content: #142503;
  --color-gaming: #5f14e0;
  --color-gaming-lighter: #9b69f1;
  --color-gaming-content: #ffffff;

  /* Movie Genre Colors */
  --color-genre-action: #f94144;
  --color-genre-action-content: #ffffff;
  --color-genre-crime: #dc2f02;
  --color-genre-crime-content: #ffe5de;
  --color-genre-horror: #370617;
  --color-genre-horror-content: #ec5086;
  --color-genre-thriller: #03071e;
  --color-genre-thriller-content: #3550eb;
  --color-genre-comedy: #3a0ca3;
  --color-genre-comedy-content: #cab4fa;
  --color-genre-family: #3a7ca5;
  --color-genre-family-content: #e7f1f7;
  --color-genre-drama: #bc4749;
  --color-genre-drama-content: #ffffff;
  --color-genre-animation: #f9844a;
  --color-genre-animation-content: #421702;
  --color-genre-adventure: #4cc9f0;
  --color-genre-adventure-content: #052c38;
  --color-genre-scifi: #0d3b66;
  --color-genre-scifi-content: #83bbef;
  --color-genre-fantasy: #90be6d;
  --color-genre-fantasy-content: #151e0e;
  --color-genre-romance: #fb6f92;
  --color-genre-romance-content: #68031c;

  /* Utility colors */
  --color-success: #35e435;
  --color-success-dark: #1bcb1b;
  --color-success-content: #031703;
  --color-warning: #e4e435;
  --color-warning-dark: #cbcb1b;
  --color-warning-content: #171703;
  --color-error: #e43535;
  --color-error-dark: #cb1b1b;
  --color-error-content: #ffffff;
}
